---
import { Image } from 'astro:assets';
import Logo from '../assets/delicias4.png';
---

<footer class="bg-white text-dark pt-5">
  <div class="musica d-none">
    <audio id="audio1" loop>
      <source src="musica/Musica Pasteleria.mp3" type="audio/mpeg" />
      Este navegador no acepta formatos de audio.
    </audio>
  </div>

  <div class="container">
    <div class="row text-center text-md-start">
      <!-- Logo y redes -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <Image
          src={Logo}
          class="img-fluid mb-3"
          alt="Logo Delicias"
        />
        <p class="h5 fw-bold fst-italic">Encuéntranos en...</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a
              href="https://www.instagram.com/lasdeliciaspasteleriaperu/"
              target="_blank"
              ><i class="bi bi-instagram fs-4"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://www.facebook.com/lasdeliciaspasteleriaperu"
              target="_blank"
              ><i class="bi bi-facebook fs-4"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="https://wa.me/972113681" target="_blank"
              ><i class="bi bi-whatsapp fs-4"></i
            ></a>
          </li>
        </ul>
      </div>

      <!-- Enlaces rápidos -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <p class="h5 fw-bold fst-italic">Enlaces Rápidos</p>
        <div class="mb-2">
          <i class="bi bi-house"></i>
          <a class="text-dark text-decoration-none" href="#inicio">Inicio</a>
        </div>
        <div class="mb-2">
          <i class="bi bi-person"></i>
          <a class="text-dark text-decoration-none" href="#nosotros"
            >Nosotros</a
          >
        </div>
        <div class="mb-2">
          <i class="bi bi-cake"></i>
          <a class="text-dark text-decoration-none" href="#productos"
            >Productos</a
          >
        </div>
        <div class="mb-2">
          <i class="bi bi-star-fill"></i>
          <a class="text-dark text-decoration-none" href="#reseñas">Reseñas</a>
        </div>
        <p class="fw-bold fst-italic mt-3">Horario de Atención</p>
        <p class="mb-0">Lunes a Viernes de 8:00 am a 6:00 pm</p>
      </div>

      <!-- Ubicación -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <p class="h5 fw-bold fst-italic">Ubícanos</p>
        <div class="mb-2">
          <i class="bi bi-geo-alt-fill"></i>
          <a
            class="text-dark text-decoration-none"
            href="https://maps.app.goo.gl/SSnwDT8Hi62DXR867"
            target="_blank"
            >Av. César Canevaro 347, SJM</a
          >
        </div>
        <div class="mb-2">
          <i class="bi bi-geo-alt-fill"></i>
          <a
            class="text-dark text-decoration-none"
            href="https://maps.app.goo.gl/Z1f7ubfTF2q2xajh7"
            target="_blank"
            >Av. Juan Velasco Alvarado, VES</a
          >
        </div>
        <div class="mb-2">
          <i class="bi bi-geo-alt-fill"></i>
          <a
            class="text-dark text-decoration-none"
            href="https://maps.app.goo.gl/N2HL3yMMFzjjZ3YM8"
            target="_blank"
            >Av. Defensores del Morro 580, Lima</a
          >
        </div>
        <div class="mb-2">
          <i class="bi bi-geo-alt-fill"></i>
          <a
            class="text-dark text-decoration-none"
            href="https://maps.app.goo.gl/go7VRgYWkTxqxn6t9"
            target="_blank"
            >Tolomeo 190, Lima</a
          >
        </div>
      </div>

      <!-- Contacto -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <p class="h5 fw-bold fst-italic">Centro de Contacto</p>
        <div class="mb-2">
          <i class="bi bi-telephone-fill"></i>
          <span class="ms-2">972 113 681</span>
        </div>
        <div class="mb-2">
          <i class="bi bi-envelope"></i>
          <span class="ms-2">Reposteriadelicias01@gmail.com</span>
        </div>
        <div class="mt-3">
          <img
            src="../assets/libro_reclamaciones.png"
            class="img-fluid"
            alt="Libro de Reclamaciones"
          />
        </div>
      </div>
    </div>

    <!-- Créditos -->
    <div class="text-center mt-4 pb-3">
      <p class="h6 mb-0">
        © 2025 <span class="text-danger">Repostería Delicias S.A.C.</span> |
        Todos los derechos reservados
      </p>
    </div>
  </div>
</footer>